/* Estilo para o container do formulário */
.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  input.fazerPedido {
    flex: 2;
    border: 1px solid #ddd;
    border-radius: 1rem;
    padding: 1rem;
  }
  
  /* Estilo para o botão de adicionar */
  button.botaoAdicionar {
    background-color: #FF3131;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    height: 2rem;
  }
  
  /* Estilo para o container do botão Limpar */
  .button-container {
    display: flex;
    justify-content: flex-end; /* Alinhar o botão à direita */
    margin-top: 10px;
  }
  
  /* Estilo para o botão de limpar */
  button.botaoLimpar {
    background-color: #FF3131;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-right: 10rem;
  }

  /* Estilo para o botão de remover pedidos */
button.botaoRemover {
    margin-top: 10px; /* Espaçamento superior */
    background-color: #FF3131;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  li{
    text-align: start;
    font-family: 'C:\Users\felip\OneDrive\Documentos\GitHub\siteAngular\Fontes\static\Montserrat-Bold';

  }