<h1>Faça seu pedido!</h1>

<div class="input-container">
  <label class="fazerPedido">Digite o nome do hambúrguer:</label>
  <input class="fazerPedido" [(ngModel)]="valorInput" />
  <button class="botaoAdicionar" (click)="adicionarPedido()">Adicionar aos pedidos!</button>
</div>

<div class="button-container">
  <button class="botaoLimpar" (click)="limparInput()">Limpar</button>
</div>

<ul>
  <li *ngFor="let burger of burgers">{{ burger }}</li>
</ul>

<button class="botaoRemover" (click)="removeItens()">Excluir Pedidos</button>
